version: '3.8'
services:
  webbui_chat:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ../characters:/app/characters
      - ../public:/app/public
      - ./state:/state
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  webbui_auth_api:
    build: .
    command: ["python", "auth_api.py"]
    ports:
      - "8001:8001"
    volumes:
      - ./state:/state
    env_file:
      - .env
    restart: unless-stopped