version: '3.8'
services:
  companion:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./characters:/app/characters
      - ./static:/app/static
    environment:
      - OLLAMA_HOST=http://192.168.1.57:11434