version: '3.8'
services:
  characters_api:
    build: .
    ports:
      - "8090:8090"
    volumes:
      - ../characters:/app/characters
      - ../public:/app/public
      - /tmp/activity.last:/tmp/activity.last
    env_file:
      - .env
    restart: unless-stopped
